:root {
    --text-color: #222733;
    --primary-color: #FFFFFF;
    --secondly-color: #545E76;
    --only-color: #F31B62;
    font-size: 62.5%;
}

.back1 {
    background-image: url("../images/21.09.png");
    padding-top: 5rem;
    padding-bottom: 3rem;
    text-align:center;
}

.back2{
    background-image: url("../images/Rectangle65393.png");
    padding-top: 5rem;
    padding-bottom: 3rem;
    background-color: #222733;
}

.heading11{
    color: var(--primary-color);
    font-size: 1.4rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    line-height: 100%;
}

.heading12{
    color: var(--primary-color);
    font-size: 3.4rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 500;
    line-height: 100%;
}

.heading13{
    color: var(--primary-color);
    font-size: 1.6rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    line-height: 140%;
}

.heading14{
    color: var(--only-color);
    font-size: 1.6rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 500;
    line-height: 100%;
}

.knopka{
    color: var(--text-color);
    font-size: 1.6rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 500;
    line-height: 100%;
    text-decoration: none;
}
.rectangle{
width: 70%;  
height: 50px;
border:1px solid;
margin:auto;
background: #FFFFFF; 
text-align: center;
}


.heading22{
    color: var(--text-color);
    font-size: 2.4rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    line-height: 120%;
    text-align:left;
}

.heading23{
    color: var(--text-color);
    font-size: 1.4rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    line-height: 170%;
    text-align:left;
}

.cifra{
    color: var(--text-color);
    font-size: 4rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 500;
    line-height: 110%;
    text-align:left;
}

.plus{
    color: var(--secondly-color);
    font-size: 4rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    line-height: 110%;
    text-align:left;
}

.text{
    color: var(--text-color);
    font-size: 1.4rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    line-height: 140%;
    text-align:left;
}



.heading31{
    color: var(--text-color);
    font-size: 2.2rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    line-height: 130%;
    text-align:left;
}

.heading32{
    color: var(--text-color);
    font-size: 1.4rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    line-height: 100%;
    text-align:left;
}

.heading33{
    color: var(--text-color);
    font-size: 2.2rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    line-height: 130%;
    text-align:left;
}



.heading43{
    color: var(--text-color);
    font-size: 1.4rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    line-height: 160%;
    text-align:left;
}



.heading52{
    color: var(--primary-color);
    font-size: 2.6rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    line-height: 130%;
    text-align:left;
}

.silka{
    color: var(--text-color);
    font-size: 1.4rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    line-height: 0%;
    text-decoration: none;
}

h2{
    color: var(--text-color);
    font-size: 1.4rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    line-height: 100%;
    text-align: left;
}