:root {
    --text-color: #222733;
    --primary-color: #FFFFFF;
    --secondly-color: #545E76;
    --only-color: #F31B62;
    font-family:'Nunito Sans', sans-serif;
    font-weight:400;
    --primary-height:100%;
    font-size: 62.5%;
}

.back1 {
    background-image: url("../images/21.09.png");

    margin-left: -2.4rem;
    margin-right: -2.4rem;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
    text-align:center;
    
    line-height:var(--primary-height);
}

.back2{
    background-image: url("../images/fontest.png");
    
    margin-left: -2.4rem;
    margin-right: -2.4rem;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    padding-top: 6rem;
    padding-bottom: 6rem;

    background-color: var(--text-color);
    line-height:var(--primary-height);
}

.heading11{
    color: var(--primary-color);
    font-size: 1.4rem;
    line-height:var(--primary-height);
}

.heading12{
    color: var(--primary-color);
    font-size: 3.4rem;
    font-weight: 500;
    line-height:var(--primary-height);
}

.heading13{
    color: var(--primary-color);
    font-size: 1.6rem;
    line-height: 140%;
}

.heading14{
    color: var(--only-color);
    font-size: 1.6rem;
    font-weight: 500;
    line-height:var(--primary-height);
}

.knopka{
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 500;
    text-decoration: none;
    line-height:var(--primary-height);
    width: 32.7rem;
    height: 5rem;
}

.rectangle{
width: 32.7rem;
height: 5rem;
border:1px solid;
margin:auto;
background: var(--primary-color); 
text-align: center;
}


.heading22{
    color: var(--text-color);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 120%;
}

.heading23{
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 170%;
}

.cifra{
    color: var(--text-color);
    font-size: 4rem;
    font-weight: 500;
    line-height: 110%;
}

.plus{
    color: var(--secondly-color);
    font-size: 4rem;
    line-height: 110%;
}

.text{
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 140%;
}



.heading31{
    color: var(--text-color);
    font-size: 2.2rem;
    line-height: 130%;
}

.heading32{
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 300;
    line-height:var(--primary-height);
}

.heading33{
    color: var(--text-color);
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 130%;
}



.heading43{
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 160%;
    margin-top:0;
}



.heading52{
    color: var(--primary-color);
    font-size: 2.6rem;
    line-height: 130%;
}

.silka{
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 0%;
    text-decoration: none;
}

h2{
    color: var(--text-color);
    font-size: 1.4rem;
    line-height:var(--primary-height);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2.4rem;
    row-gap: 2.4rem;
    max-width: 40rem;
    margin: 0 auto;
}

.list {
    display: grid;
    grid-template-columns: 4.8rem 2fr;
    column-gap: 2rem;
    
}

.pad {
    padding: 0 2.4rem 0 2.4rem;
}

.b1 {
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}


#foto,#kavi{
    position: relative;
}

#kavi{
    top:-34px;
    left:20px;
}

.seti {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 13.2rem;
    margin-left: 0;
}

.foot {
   

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 3.2rem;
    margin: 0 auto;
}